#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.auth-form, .dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #2f2f2f;
}

.auth-form input, .auth-form select {
  padding: 0.8rem;
  border-radius: 4px;
  border: 1px solid #555;
  background-color: #3f3f3f;
  color: white;
}

.link-button {
  background: none;
  border: none;
  color: #646cff;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
}

.error {
  color: #ff6b6b;
}

.upload-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.logout-button {
  margin-top: 1rem;
  background-color: #ff6b6b;
  border-color: #ff6b6b;
}

.logout-button:hover{
    border-color: #ff4f4f;
}